<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phụ hồ cơ động</title>
    <link rel="icon" type="image/x-icon" href="../libs/img/company-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="root">
        <div class="header">
            <div class="header_content grid wide">
                <a href="../../index.html" class="header_content-logo">
                    <img src="../libs/img/logo.svg" alt="" class="header_content-logo-img">
                </a>
                <ul class="header_nav">
                    <li class="header_nav-item has--son">
                        <span class="header_nav-link flex">
                            Dịch vụ
                            <img src="../libs/img/icon-down.svg" alt="" class="header_nav-link-img">
                        </span>
                        <ul class="header_nav-son">
                            <li class="header_nav-son-item">
                                <a href="./odc-service.html" class="header_nav-son-link">
                                    <div class="header_nav-son-left">
                                        <img src="../libs/img/icon-off.svg" alt="" class="header_nav-son-info-img">
                                    </div>
                                    <div class="header_nav-son-right">
                                        <h5 class="header_nav-son-title">Phát triển ra nước ngoài</h5>
                                        <p class="header_nav-son-desc">
                                            Lực lượng của chúng tôi phủ sóng khắp trên toàn thế giới.
                                        </p>
                                        <div class="btn-link">
                                            <span>Xem thêm</span>
                                            <img src="../libs/img/icon-arrow.svg" alt="" class="btn-link-img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="header_nav-son-item">
                                <a href="./dev-service.html" class="header_nav-son-link">
                                    <div class="header_nav-son-left">
                                        <img src="../libs/img/icon-dev.svg" alt="" class="header_nav-son-info-img">
                                    </div>
                                    <div class="header_nav-son-right">
                                        <h5 class="header_nav-son-title">Dịch vụ trong nước</h5>
                                        <p class="header_nav-son-desc">
                                            Mạng lưới văn phòng phủ sóng 63 tỉnh thành sẵn sàng 24/7.
                                        </p>
                                        <div class="btn-link">
                                            <span>Xem thêm</span>
                                            <img src="../libs/img/icon-arrow.svg" alt="" class="btn-link-img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="header_nav-item">
                        <a href="./cases.html" class="header_nav-link">Dự án</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="./resources.html" class="header_nav-link">Tài nguyên</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="./careers.html" class="header_nav-link">Nghề nghiệp</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="./contact.html" class="header_nav-btn btn btn--upper">Liên hệ</a>
                    </li>
                </ul>
                <div class="header_navmb">
                    <input type="checkbox" name="" id="header_navmb" hidden>
                    <label id="header_navmb-control" for="header_navmb" class="header_navmb-control">
                        <div class="header_navmb-control-item"></div>
                        <div class="header_navmb-control-item"></div>
                        <div class="header_navmb-control-item"></div>
                    </label>
                    <div class="header_navmb-content">
                        <ul class="header_navmb-list">
                            <li class="header_navmb-item has--son">
                                <input type="checkbox" id="navmb_son" hidden>
                                <label for="navmb_son" class="header_navmb-link flex">
                                    Dịch vụ
                                    <img src="../libs/img/icon-down.svg" alt="" class="header_navmb-link-img">
                                </label>
                                <ul class="header_navmb-son">
                                    <li class="header_navmb-son-item">
                                        <a href="./odc-service.html" class="header_navmb-son-link">
                                            <img src="../libs/img/icon-off.svg" alt="" class="header_navmb-son-info-img">
                                            <h5 class="header_navmb-son-title">Phát triển ra nước ngoài</h5>
                                            <div class="btn-link">
                                                <img src="../libs/img/icon-arrow.svg" alt="" class="btn-link-img">
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header_navmb-son-item">
                                        <a href="./dev-service.html" class="header_navmb-son-link">
                                            <img src="../libs/img/icon-dev.svg" alt="" class="header_navmb-son-info-img">
                                            <h5 class="header_navmb-son-title">Dịch vụ trong nước</h5>
                                            <div class="btn-link">
                                                <img src="../libs/img/icon-arrow.svg" alt="" class="btn-link-img">
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header_navmb-item">
                                <a href="./cases.html" class="header_navmb-link">Dự án</a>
                            </li>
                            <li class="header_navmb-item">
                                <a href="./resources.html" class="header_navmb-link">Tài nguyên</a>
                            </li>
                            <li class="header_navmb-item">
                                <a href="./careers.html" class="header_navmb-link">Nghề nghiệp</a>
                            </li>
                            <li class="header_navmb-item">
                                <a href="./contact.html" class="header_navmb-btn btn">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="root_body">
            <div class="dev">
                <section class="odc_banner">
                    <div class="odc_banner-grid grid wide">
                        <div class="odc_banner-row row">
                            <div class="odc_banner-col col c-12 m-12 l-5">
                                <div class="odc_banner-left">
                                    <h5 class="odc_banner-hot">// Dịch vụ trong nước</h5>
                                    <h2 class="odc_banner-title">Ưu đãi với các công trình trong nước</h2>
                                    <p class="odc_banner-desc">Tự động hóa và hợp lý hóa quy trình làm việc của bạn để mang lại kết quả nhanh hơn, tốt hơn.</p>
                                    <div class="odc_banner-ac">
                                        <a href="./contact.html" class="odc_banner-ac-btn btn">Tư vấn miễn phí</a>
                                    </div>
                                </div>
                            </div>
                            <div class="odc_banner-col col c-12 m-12 l-7">
                                <div class="odc_banner-right">
                                    <img src="../libs/img/devops-service.png" alt="" class="odc_banner-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="dev_service">
                    <div class="dev_service-grid grid wide">
                        <div class="dev_service-row row">
                            <div class="dev_service-col col c-12 m-12 l-6">
                                <div class="dev_service-left">
                                    <img src="../libs/img/dev-service.png" alt="" class="dev_service-img">
                                </div>
                            </div>
                            <div class="dev_service-col col c-12 m-12 l-6">
                                <div class="dev_service-right">
                                    <h3 class="dev_service-tile">Dịch vụ trong nước</h3>
                                    <div class="dev_service-list">
                                        <div class="dev_service-item">
                                            <img src="../libs/img/icon-new-ci-cd.svg" alt="" class="dev_service-item-img">
                                            <div class="dev_service-item-content">
                                                <h5 class="dev_service-item-title">Nhà ở</h5>
                                                <p class="dev_service-item-desc">Phụ hồ mọi công trình nhà ở nhỏ lẻ, công trình phụ.</p>
                                            </div>
                                        </div>
                                        <div class="dev_service-item">
                                            <img src="../libs/img/icon-new-dev-op.svg" alt="" class="dev_service-item-img">
                                            <div class="dev_service-item-content">
                                                <h5 class="dev_service-item-title">Đường bê tông</h5>
                                                <p class="dev_service-item-desc">Phụ đổ đường bê tông giúp bà con nhanh chóng có đường đi.</p>
                                            </div>
                                        </div>
                                        <div class="dev_service-item">
                                            <img src="../libs/img/icon-new-containerization.svg" alt="" class="dev_service-item-img">
                                            <div class="dev_service-item-content">
                                                <h5 class="dev_service-item-title">Mương thủy lợi</h5>
                                                <p class="dev_service-item-desc">Phụ xây các công trình mương máng trong thời gian nhanh chóng.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="dev_service">
                    <div class="dev_service-grid grid wide">
                        <div class="dev_service-row row">
                            <div class="dev_service-col col c-12 m-12 l-6">
                                <div class="dev_service-right">
                                    <h3 class="dev_service-tile">Dịch vụ trong nước</h3>
                                    <p class="dev_service-desc">
                                        Tăng cường hiệu suất làm việc với các dịch vụ phụ hồ chuyên nghiệp của chúng tôi. Hãy để chúng tôi đưa bạn lên cao hơn.
                                    </p>
                                    <div class="dev_service-list">
                                        <div class="dev_service-item">
                                            <img src="../libs/img/icon-new-cloud-strategy.svg" alt="" class="dev_service-item-img">
                                            <div class="dev_service-item-content">
                                                <h5 class="dev_service-item-title">Chiến lược</h5>
                                                <p class="dev_service-item-desc">Hỗ trợ, góp ý giúp công trình của bạn hoàn thành chất lượng và uy tín.</p>
                                            </div>
                                        </div>
                                        <div class="dev_service-item">
                                            <img src="../libs/img/icon-new-cloud-native.svg" alt="" class="dev_service-item-img">
                                            <div class="dev_service-item-content">
                                                <h5 class="dev_service-item-title">Bê vác</h5>
                                                <p class="dev_service-item-desc">Không chỉ phụ hồ thôi đâu chúng tôi còn hỗ trợ bê vác, vận chuyển các vật liệu công trình của bạn.</p>
                                            </div>
                                        </div>
                                        <div class="dev_service-item">
                                            <img src="../libs/img/icon-new-legacy-cloud.svg" alt="" class="dev_service-item-img">
                                            <div class="dev_service-item-content">
                                                <h5 class="dev_service-item-title">Phụ xây</h5>
                                                <p class="dev_service-item-desc">Do quá trình phụ hồ lâu năm nên chúng tôi có những chuyên gia sắp lên thợ chính có thể xây luôn cho bạn.</p>
                                            </div>
                                        </div>
                                        <div class="dev_service-item">
                                            <img src="../libs/img/icon-new-cloud-to-cloud.svg" alt="" class="dev_service-item-img">
                                            <div class="dev_service-item-content">
                                                <h5 class="dev_service-item-title">Kết nối</h5>
                                                <p class="dev_service-item-desc">Trong quá trình phụ hồ chúng tôi hỗ trợ bạn kết nói với các nhà thầu uy sờ tín.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dev_service-col col c-12 m-12 l-6">
                                <div class="dev_service-left">
                                    <img src="../libs/img/cloud-service.png" alt="" class="dev_service-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="dev_cloud section--afbe">
                    <div class="dev_cloud-grid grid wide">
                        <div class="dev_cloud-header">
                            <h2 class="dev_cloud-header-title">Quản lý dự án</h2>
                            <p class="dev_cloud-header-desc">Mở khóa các bí mật để quản lý đội phụ hồ. Hãy tối đa hóa giá trị đầu tư của bạn.</p>
                        </div>
                        <div class="dev_cloud-row row">
                            <div class="dev_cloud-col col c-12 m-4 l-4">
                                <div class="dev_cloud-item">
                                    <img src="../libs/img/icon-partners-aws.svg" alt="" class="dev_cloud-item-img">
                                    <h5 class="dev_cloud-item-title">Hỗ trợ 24/7</h5>
                                </div>
                            </div>
                            <div class="dev_cloud-col col c-12 m-4 l-4">
                                <div class="dev_cloud-item">
                                    <img src="../libs/img/icon-partners-azure.svg" alt="" class="dev_cloud-item-img">
                                    <h5 class="dev_cloud-item-title">Kết nối</h5>
                                </div>
                            </div>
                            <div class="dev_cloud-col col c-12 m-4 l-4">
                                <div class="dev_cloud-item">
                                    <img src="../libs/img/icon-partners-google-cloud.webp" alt="" class="dev_cloud-item-img">
                                    <h5 class="dev_cloud-item-title">Bản vẽ</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="root_contact">
                    <div class="root_contact-grid grid wide">
                        <div class="root_contact-content">
                            <h2 class="root_contact-title">Khởi động dự án của bạn ngay hôm nay!</h2>
                            <p class="root_contact-desc">Liên hệ với chúng tôi để được hỗ trợ kịp thời, nhanh chóng.</p>
                            <div class="root_contact-ac">
                                <button class="btn root_contact-ac-btn btn--whi btn--upper">Để lại lời nhắn</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="footer">
            <div class="footer-grid grid wide">
                <div class="footer-row row">
                    <div class="footer-col col c-12 m-12 l-4">
                        <div class="footer__info">
                            <div class="footer__info-logo">
                                <a href="../../index.html" class="footer__info-logo-link">
                                    <img src="../libs/img/logo.svg" alt="" class="footer__info-logo-img">
                                </a>
                            </div>
                            <p class="footer__info-desc">Phục vụ  tận tình, không ngại nắng mưa cho công trình của bạn.</p>
                            <ul class="footer__info-network">
                                <li class="footer__info-network-item">
                                    <a href="#" class="footer__info-network-link">
                                        <img src="../libs/img/facebook.svg" alt="" class="footer__info-network-img">
                                    </a>
                                </li>
                                <li class="footer__info-network-item">
                                    <a href="#" class="footer__info-network-link">
                                        <img src="../libs/img/linked-in.svg" alt="" class="footer__info-network-img">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col c-12 m-12 l-4">
                        <div class="footer_nav">
                            <h6 class="footer_title">Về chúng tôi</h6>
                            <ul class="footer_nav-list">
                                <li class="footer_nav-item">
                                    <a href="./careers.html" class="footer_nav-link">Nghề nghiệp</a>
                                </li>
                                <li class="footer_nav-item">
                                    <a href="./odc-service.html" class="footer_nav-link">Dịch vụ</a>
                                </li>
                                <li class="footer_nav-item">
                                    <a href="./resources.html" class="footer_nav-link">Tài nguyên</a>
                                </li>
                                <li class="footer_nav-item">
                                    <a href="./contact.html" class="footer_nav-link">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col c-12 m-12 l-4">
                        <div class="footer_contact">
                            <h6 class="footer_title">Liên hệ</h6>
                            <ul class="footer_contact-list">
                                <li class="footer_contact-item">
                                    <img src="../libs/img/vn.svg" alt="" class="footer_contact-img">
                                    <p class="footer_contact-desc">Số 777, đường Quang Trung, phố Nguyễn Huệ, tp.Bắc Bình Vương.</p>
                                </li>
                                <li class="footer_contact-item">
                                    <img src="../libs/img/us.svg" alt="" class="footer_contact-img">
                                    <p class="footer_contact-desc">Số 999, đường Nhựa, phố Trong Phố, tp.Mỹ Tho.</p>
                                </li>
                                <li class="footer_contact-item">
                                    <img src="../libs/img/email.svg" alt="" class="footer_contact-img">
                                    <a href="#" class="footer_contact-link">aconggomai@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col c-12 m-12 l-0">
                        <ul class="footer__info-network mobile">
                            <li class="footer__info-network-item">
                                <a href="#" class="footer__info-network-link">
                                    <img src="../libs/img/facebook.svg" alt="" class="footer__info-network-img">
                                </a>
                            </li>
                            <li class="footer__info-network-item">
                                <a href="#" class="footer__info-network-link">
                                    <img src="../libs/img/linked-in.svg" alt="" class="footer__info-network-img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="footer_copyright">
                    Trang web xây dựng bởi @m1med.
                </p>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script src="../js/main.js"></script>
</html>