<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phụ hồ cơ động</title>
    <link rel="icon" type="image/x-icon" href="../libs/img/company-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="root">
        <div class="header">
            <div class="header_content grid wide">
                <a href="../../index.html" class="header_content-logo">
                    <img src="../libs/img/logo.svg" alt="" class="header_content-logo-img">
                </a>
                <ul class="header_nav">
                    <li class="header_nav-item has--son">
                        <span class="header_nav-link flex">
                            Dịch vụ
                            <img src="../libs/img/icon-down.svg" alt="" class="header_nav-link-img">
                        </span>
                        <ul class="header_nav-son">
                            <li class="header_nav-son-item">
                                <a href="./odc-service.html" class="header_nav-son-link">
                                    <div class="header_nav-son-left">
                                        <img src="../libs/img/icon-off.svg" alt="" class="header_nav-son-info-img">
                                    </div>
                                    <div class="header_nav-son-right">
                                        <h5 class="header_nav-son-title">Phát triển ra nước ngoài</h5>
                                        <p class="header_nav-son-desc">
                                            Lực lượng của chúng tôi phủ sóng khắp trên toàn thế giới.
                                        </p>
                                        <div class="btn-link">
                                            <span>Xem thêm</span>
                                            <img src="../libs/img/icon-arrow.svg" alt="" class="btn-link-img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="header_nav-son-item">
                                <a href="./dev-service.html" class="header_nav-son-link">
                                    <div class="header_nav-son-left">
                                        <img src="../libs/img/icon-dev.svg" alt="" class="header_nav-son-info-img">
                                    </div>
                                    <div class="header_nav-son-right">
                                        <h5 class="header_nav-son-title">Dịch vụ trong nước</h5>
                                        <p class="header_nav-son-desc">
                                            Mạng lưới văn phòng phủ sóng 63 tỉnh thành sẵn sàng 24/7.
                                        </p>
                                        <div class="btn-link">
                                            <span>Xem thêm</span>
                                            <img src="../libs/img/icon-arrow.svg" alt="" class="btn-link-img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="header_nav-item">
                        <a href="./cases.html" class="header_nav-link">Dự án</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="./resources.html" class="header_nav-link">Tài nguyên</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="./careers.html" class="header_nav-link">Nghề nghiệp</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="./contact.html" class="header_nav-btn btn btn--upper">Liên hệ</a>
                    </li>
                </ul>
                <div class="header_navmb">
                    <input type="checkbox" name="" id="header_navmb" hidden>
                    <label id="header_navmb-control" for="header_navmb" class="header_navmb-control">
                        <div class="header_navmb-control-item"></div>
                        <div class="header_navmb-control-item"></div>
                        <div class="header_navmb-control-item"></div>
                    </label>
                    <div class="header_navmb-content">
                        <ul class="header_navmb-list">
                            <li class="header_navmb-item has--son">
                                <input type="checkbox" id="navmb_son" hidden>
                                <label for="navmb_son" class="header_navmb-link flex">
                                    Dịch vụ
                                    <img src="../libs/img/icon-down.svg" alt="" class="header_navmb-link-img">
                                </label>
                                <ul class="header_navmb-son">
                                    <li class="header_navmb-son-item">
                                        <a href="./odc-service.html" class="header_navmb-son-link">
                                            <img src="../libs/img/icon-off.svg" alt="" class="header_navmb-son-info-img">
                                            <h5 class="header_navmb-son-title">Phát triển ra nước ngoài</h5>
                                            <div class="btn-link">
                                                <img src="../libs/img/icon-arrow.svg" alt="" class="btn-link-img">
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header_navmb-son-item">
                                        <a href="./dev-service.html" class="header_navmb-son-link">
                                            <img src="../libs/img/icon-dev.svg" alt="" class="header_navmb-son-info-img">
                                            <h5 class="header_navmb-son-title">Dịch vụ trong nước</h5>
                                            <div class="btn-link">
                                                <img src="../libs/img/icon-arrow.svg" alt="" class="btn-link-img">
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header_navmb-item">
                                <a href="./cases.html" class="header_navmb-link">Dự án</a>
                            </li>
                            <li class="header_navmb-item">
                                <a href="./resources.html" class="header_navmb-link">Tài nguyên</a>
                            </li>
                            <li class="header_navmb-item">
                                <a href="./careers.html" class="header_navmb-link">Nghề nghiệp</a>
                            </li>
                            <li class="header_navmb-item">
                                <a href="./contact.html" class="header_navmb-btn btn">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="root_body">
            <div class="odc">
                <section class="odc_banner">
                    <div class="odc_banner-grid grid wide">
                        <div class="odc_banner-row row">
                            <div class="odc_banner-col col c-12 m-12 l-5">
                                <div class="odc_banner-left">
                                    <h5 class="odc_banner-hot">// Phát triển ra nước ngoài</h5>
                                    <h2 class="odc_banner-title">Những tài năng hàng đầu phù hợp với yêu cầu của riêng bạn</h2>
                                    <p class="odc_banner-desc">Tập hợp đội ngũ trong mơ của bạn với các phụ hồ chất lượng hàng đầu, phù hợp với nhu cầu của bạn.</p>
                                    <div class="odc_banner-ac">
                                        <a href="./contact.html" class="odc_banner-ac-btn btn">Tư vấn miễn phí</a>
                                    </div>
                                </div>
                            </div>
                            <div class="odc_banner-col col c-12 m-12 l-7">
                                <div class="odc_banner-right">
                                    <img src="../libs/img/odc-service.png" alt="" class="odc_banner-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="odc_pick">
                    <div class="odc_pick-grid grid wide">
                        <h3 class="odc_pick-title">Chọn gói dịch vụ</h3>
                        <div class="odc_pick-box">
                            <div class="odc_pick-inbox pt">
                                <div class="odc_pick-list text--nol">
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-key">
                                            <h5 class="odc_pick-item-title">Phạm vi</h5>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-key">
                                            <h5 class="odc_pick-item-title">Ngân sánh và thời gian</h5>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-key">
                                            <h5 class="odc_pick-item-title">Kiểm soát</h5>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-key">
                                            <h5 class="odc_pick-item-title">Yêu cầu</h5>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-key">
                                            <h5 class="odc_pick-item-title">Phương pháp</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="odc_pick-inbox">
                                <div class="odc_pick-nav">
                                    <div class="odc_pick-nav-media">
                                        <img src="../libs/img/icon-team.svg" alt="" class="odc_pick-nav-media-img">
                                    </div>
                                    <h5 class="odc_pick-nav-title">Nhóm tận tâm</h5>
                                    <p class="odc_pick-nav-desc">
                                        Xây dựng đội nhóm làm việc hõ trợ lẫn nhau trong công việc.
                                    </p>
                                    <div class="odc_pick-nav-ac">
                                        <button class="odc_pick-nav-ac-btn btn btn--whi">Tìm hiểu thêm</button>
                                    </div>
                                </div>
                                <div class="odc_pick-list">
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Phạm vi</h5>
                                            <p class="odc_pick-desc">Lớn</p>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Ngân sánh và thời gian</h5>
                                            <p class="odc_pick-desc">Linh hoạt</p>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Kiểm soát</h5>
                                            <p class="odc_pick-desc">Tổ trưởng tổ phụ hồ</p>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Yêu cầu</h5>
                                            <p class="odc_pick-desc">Đang phát triển</p>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Phương pháp</h5>
                                            <p class="odc_pick-desc">Nhanh nhẹn</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="odc_pick-ac">
                                    <button class="odc_pick-ac-btn btn">Tìm hiểu thêm</button>
                                </div>
                            </div>
                            <div class="odc_pick-inbox">
                                <div class="odc_pick-nav">
                                    <div class="odc_pick-nav-media">
                                        <img src="../libs/img/icon-time.svg" alt="" class="odc_pick-nav-media-img">
                                    </div>
                                    <h5 class="odc_pick-nav-title">Thời gian</h5>
                                    <p class="odc_pick-nav-desc">
                                        Thời gian làm việc linh hoạt có cả part-time và full-time.
                                    </p>
                                    <div class="odc_pick-nav-ac">
                                        <button class="odc_pick-nav-ac-btn btn btn--whi">Tìm hiểu thêm</button>
                                    </div>
                                </div>
                                <div class="odc_pick-list">
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Phạm vi</h5>
                                            <p class="odc_pick-desc">Vừa và lớn</p>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Ngân sánh và thời gian</h5>
                                            <p class="odc_pick-desc">Linh hoạt</p>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Kiểm soát</h5>
                                            <p class="odc_pick-desc">Hiệu quả</p>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Yêu cầu</h5>
                                            <p class="odc_pick-desc">Đang phát triển</p>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Phương pháp</h5>
                                            <p class="odc_pick-desc">Nhanh nhẹn</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="odc_pick-ac">
                                    <button class="odc_pick-ac-btn btn">Tìm hiểu thêm</button>
                                </div>
                            </div>
                            <div class="odc_pick-inbox">
                                <div class="odc_pick-nav radius--tr">
                                    <div class="odc_pick-nav-media">
                                        <img src="../libs/img/icon-price.svg" alt="" class="odc_pick-nav-media-img">
                                    </div>
                                    <h5 class="odc_pick-nav-title">Giá cố định</h5>
                                    <p class="odc_pick-nav-desc">
                                        Bất kể thời gian và chi phí, ngân sách của bạn là cố định với chúng tôi.
                                    </p>
                                    <div class="odc_pick-nav-ac">
                                        <button class="odc_pick-nav-ac-btn btn btn--whi">Tìm hiểu thêm</button>
                                    </div>
                                </div>
                                <div class="odc_pick-list border--left">
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Phạm vi</h5>
                                            <p class="odc_pick-desc">Nhỏ và vừa</p>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Ngân sánh và thời gian</h5>
                                            <p class="odc_pick-desc">Cố định</p>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Kiểm soát</h5>
                                            <p class="odc_pick-desc">Hợp lý</p>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Yêu cầu</h5>
                                            <p class="odc_pick-desc">Xác định</p>
                                        </div>
                                    </div>
                                    <div class="odc_pick-item">
                                        <div class="odc_pick-extra">
                                            <h5 class="odc_pick-item-title">Phương pháp</h5>
                                            <p class="odc_pick-desc">Nhanh nhẹn</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="odc_pick-ac">
                                    <button class="odc_pick-ac-btn btn btn--upper">Tìm hiểu thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="odc_team">
                    <div class="odc_team-grid grid wide">
                        <h3 class="odc_team-title">Đội ngũ phụ hồ mơ ước</h3>
                        <div class="odc_team-nav">
                            <div id="odc-nav-1" onclick="return odcTab(this)" class="odc_team-nav-item active">Nhóm tận tâm</div>
                            <div id="odc-nav-2" onclick="return odcTab(this)" class="odc_team-nav-item">Thời gian</div>
                            <div id="odc-nav-3" onclick="return odcTab(this)" class="odc_team-nav-item">Giá cố định</div>
                        </div>
                        <div class="odc_team-pannel">
                            <div id="odc-nav-pannel-1" class="odc_team-pannel-item active">
                                <div class="odc_team-list">
                                    <div class="odc_team-item">
                                        <div class="odc_team-item-atop"></div>
                                        <div class="odc_team-item-media">
                                            <img src="../libs/img/icon-new-consultation.svg" alt="" class="odc_team-item-media-img">
                                        </div>
                                        <span class="odc_team-item-step">Bước 1</span>
                                        <h5 class="odc_team-item-title">Tham vấn</h5>
                                        <p class="odc_team-item-desc">
                                            Khi chúng tôi đã vạch ra các mục tiêu của bạn, chúng tôi sẽ điều chỉnh các yêu cầu của bạn với những ứng cử viên tốt nhất.
                                        </p>
                                    </div>
                                    <div class="odc_team-item">
                                        <div class="odc_team-item-atop"></div>
                                        <div class="odc_team-item-media">
                                            <img src="../libs/img/icon-new-scaning.svg" alt="" class="odc_team-item-media-img">
                                        </div>
                                        <span class="odc_team-item-step">Bước 2</span>
                                        <h5 class="odc_team-item-title">Ứng viên</h5>
                                        <p class="odc_team-item-desc">
                                            Chúng tôi sẽ đi sâu vào nhóm tài năng công nghệ trên toàn cầu chỉ dành cho những nhà phát triển chất lượng hàng đầu.
                                        </p>
                                    </div>
                                    <div class="odc_team-item">
                                        <div class="odc_team-item-atop"></div>
                                        <div class="odc_team-item-media">
                                            <img src="../libs/img/icon-new-interview.svg" alt="" class="odc_team-item-media-img">
                                        </div>
                                        <span class="odc_team-item-step">Bước 3</span>
                                        <h5 class="odc_team-item-title">Phỏng vấn</h5>
                                        <p class="odc_team-item-desc">
                                            Là người trong ngành phụ hồ, chúng tôi biết chính xác những câu hỏi nào cần đặt ra. Đó là cách chúng tôi sẽ chọn các thành viên tại chỗ.
                                        </p>
                                    </div>
                                    <div class="odc_team-item">
                                        <div class="odc_team-item-media">
                                            <img src="../libs/img/icon-new-contract.svg" alt="" class="odc_team-item-media-img">
                                        </div>
                                        <span class="odc_team-item-step">Bước 4</span>
                                        <h5 class="odc_team-item-title">Hợp đồng và giới thiệu</h5>
                                        <p class="odc_team-item-desc">
                                            Chào mừng đến với bước cuối cùng! Sau khi mọi thứ được hoàn tất, nhóm của chúng tôi đã sẵn sàng bất cứ lúc nào!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="odc-nav-pannel-2" class="odc_team-pannel-item">
                                <div class="odc_team-list">
                                    <div class="odc_team-item">
                                        <div class="odc_team-item-atop"></div>
                                        <div class="odc_team-item-media">
                                            <img src="../libs/img/icon-new-consultation.svg" alt="" class="odc_team-item-media-img">
                                        </div>
                                        <span class="odc_team-item-step">Bước 1</span>
                                        <h5 class="odc_team-item-title">Khảo sát và tham vấn</h5>
                                        <p class="odc_team-item-desc">
                                            Khi bạn liên hệ với chúng tôi với các yêu cầu của bạn, chúng tôi sẽ phân tích và đưa ra ước tính tỷ lệ.
                                        </p>
                                    </div>
                                    <div class="odc_team-item">
                                        <div class="odc_team-item-atop"></div>
                                        <div class="odc_team-item-media">
                                            <img src="../libs/img/icon-new-interview.svg" alt="" class="odc_team-item-media-img">
                                        </div>
                                        <span class="odc_team-item-step">Bước 2</span>
                                        <h5 class="odc_team-item-title">Đề xuất và thảo luận</h5>
                                        <p class="odc_team-item-desc">
                                            Với ước tính của chúng tôi, cả hai bên sẽ thảo luận cùng nhau để làm rõ các yêu cầu của nhau và đạt được cơ sở chung.
                                        </p>
                                    </div>
                                    <div class="odc_team-item">
                                        <div class="odc_team-item-media">
                                            <img src="../libs/img/icon-new-contract.svg" alt="" class="odc_team-item-media-img">
                                        </div>
                                        <span class="odc_team-item-step">Bước 3</span>
                                        <h5 class="odc_team-item-title">Hợp đồng và Bắt đầu</h5>
                                        <p class="odc_team-item-desc">
                                            Sau khi mọi thứ được hoàn thiện, nhóm phụ hồ của chúng tôi đã sẵn sàng bắt đầu!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="odc-nav-pannel-3" class="odc_team-pannel-item">
                                <div class="odc_team-list">
                                    <div class="odc_team-item">
                                        <div class="odc_team-item-atop"></div>
                                        <div class="odc_team-item-media">
                                            <img src="../libs/img/icon-new-consultation.svg" alt="" class="odc_team-item-media-img">
                                        </div>
                                        <span class="odc_team-item-step">Bước 1</span>
                                        <h5 class="odc_team-item-title">Khảo sát và tham vấn</h5>
                                        <p class="odc_team-item-desc">
                                            Trước tiên, chúng tôi sẽ làm rõ các yêu cầu của bạn và sau đó điều chỉnh chúng với một mức giá phù hợp.
                                        </p>
                                    </div>
                                    <div class="odc_team-item">
                                        <div class="odc_team-item-atop"></div>
                                        <div class="odc_team-item-media">
                                            <img src="../libs/img/icon-new-interview.svg" alt="" class="odc_team-item-media-img">
                                        </div>
                                        <span class="odc_team-item-step">Bước 2</span>
                                        <h5 class="odc_team-item-title">Negotiation</h5>
                                        <p class="odc_team-item-desc">
                                            Sau đó, chúng tôi sẽ thảo luận về đề xuất và các điều chỉnh được thực hiện ở giai đoạn này để hoàn thiện tất cả các thông số kỹ thuật.
                                        </p>
                                    </div>
                                    <div class="odc_team-item">
                                        <div class="odc_team-item-media">
                                            <img src="../libs/img/icon-new-contract.svg" alt="" class="odc_team-item-media-img">
                                        </div>
                                        <span class="odc_team-item-step">Bước 3</span>
                                        <h5 class="odc_team-item-title">Hợp đồng và Bắt đầu</h5>
                                        <p class="odc_team-item-desc">
                                            Chào mừng đến với bước cuối cùng! Khi mọi thứ được hoàn tất, nhóm của chúng tôi sẵn sàng giúp bạn hiện thực hóa tham vọng của mình!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="odc_offshore">
                    <div class="odc_offshore-grid grid wide">
                        <div class="odc_offshore-row row">
                            <div class="odc_offshore-col col c-12 m-12 l-6">
                                <div class="odc_offshore-left">
                                    <img src="../libs/img/key-to-successfull.png" alt="" class="odc_offshore-img">
                                </div>
                            </div>
                            <div class="odc_offshore-col col c-12 m-12 l-6">
                                <div class="odc_offshore-right">
                                    <h3 class="odc_offshore-title">Điều gì tạo nên thành công Phát triển ra nước ngoài</h3>
                                    <ul class="odc_offshore-list">
                                        <li class="odc_offshore-item">
                                            <img src="../libs/img/icon-tick.svg" alt="" class="odc_offshore-item-img">
                                            <span>Tài năng phụ hồ chuyên ngành</span>
                                        </li>
                                        <li class="odc_offshore-item">
                                            <img src="../libs/img/icon-tick.svg" alt="" class="odc_offshore-item-img">
                                            <span>Phụ hồ nhiệt tình không ngại gian khó</span>
                                        </li>
                                        <li class="odc_offshore-item">
                                            <img src="../libs/img/icon-tick.svg" alt="" class="odc_offshore-item-img">
                                            <span>Quy trình đơn giản</span>
                                        </li>
                                        <li class="odc_offshore-item">
                                            <img src="../libs/img/icon-tick.svg" alt="" class="odc_offshore-item-img">
                                            <span>Không cần đồ ăn, chỗ ở cao sang tốn kém</span>
                                        </li>
                                        <li class="odc_offshore-item">
                                            <img src="../libs/img/icon-tick.svg" alt="" class="odc_offshore-item-img">
                                            <span>Hợp tác tổ nhóm ăn ý</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="odc_tech section--afbe">
                    <div class="odc_tech-grid grid wide">
                        <div class="odc_tech-row row">
                            <div class="odc_tech-col col c-12 m-12 l-4">
                               <div class="odc_tech-left">
                                   <h2 class="odc_tech-title">Tiếp cận với các công nghệ hàng đầu</h2>
                                   <p class="odc_tech-desc">Nhận sản phẩm của bạn được xây dựng bằng các công nghệ hàng đầu.</p>
                               </div>
                            </div>
                            <div class="odc_tech-col col c-12 m-12 l-8">
                                <div class="odc_tech-right">
                                    <div class="odc_tech-box">
                                        <div class="odc_tech-box-key">Dân dụng</div>
                                        <div class="odc-tech-box-list">
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-react.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Hạ tầng</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-redux.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Cơ hội</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-angular.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Tiềm lực</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-nextjs.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Tài chính</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-vuejs.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Năng suất</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="odc_tech-box">
                                        <div class="odc_tech-box-key">Công nghiệp</div>
                                        <div class="odc-tech-box-list">
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-node.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Sản xuất</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-php.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Chế tạo</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-golang.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Dầu khí</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-dot-net.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Năng lượng</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="odc_tech-box">
                                        <div class="odc_tech-box-key">Hạ tầng</div>
                                        <div class="odc-tech-box-list">
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-my-sql.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Cấp nước</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-postgre.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Xử lý</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-mongo-db.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Chiếu sáng</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-sql-server.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Cơ sở</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-oracle.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Thoát nước</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="odc_tech-box">
                                        <div class="odc_tech-box-key">Giao thông</div>
                                        <div class="odc-tech-box-list">
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-android.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Hầm</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-swift.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Cao tốc</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-react-native.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Đô thị</span>
                                            </div>
                                            <div class="odc_tech-box-item">
                                                <img src="../libs/img/icon-tech-flutter.svg" alt="" class="odc_tech-box-item-img">
                                                <span class="odc_tech-box-item-text text-dots">Cầu</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="root_contact">
                    <div class="root_contact-grid grid wide">
                        <div class="root_contact-content">
                            <h2 class="root_contact-title">Khởi động dự án của bạn ngay hôm nay!</h2>
                            <p class="root_contact-desc">Liên hệ với chúng tôi để được hỗ trợ kịp thời, nhanh chóng.</p>
                            <div class="root_contact-ac">
                                <button class="btn root_contact-ac-btn btn--whi btn--upper">Để lại lời nhắn</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="footer">
            <div class="footer-grid grid wide">
                <div class="footer-row row">
                    <div class="footer-col col c-12 m-12 l-4">
                        <div class="footer__info">
                            <div class="footer__info-logo">
                                <a href="../../index.html" class="footer__info-logo-link">
                                    <img src="../libs/img/logo.svg" alt="" class="footer__info-logo-img">
                                </a>
                            </div>
                            <p class="footer__info-desc">Phục vụ  tận tình, không ngại nắng mưa cho công trình của bạn.</p>
                            <ul class="footer__info-network">
                                <li class="footer__info-network-item">
                                    <a href="#" class="footer__info-network-link">
                                        <img src="../libs/img/facebook.svg" alt="" class="footer__info-network-img">
                                    </a>
                                </li>
                                <li class="footer__info-network-item">
                                    <a href="#" class="footer__info-network-link">
                                        <img src="../libs/img/linked-in.svg" alt="" class="footer__info-network-img">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col c-12 m-12 l-4">
                        <div class="footer_nav">
                            <h6 class="footer_title">Về chúng tôi</h6>
                            <ul class="footer_nav-list">
                                <li class="footer_nav-item">
                                    <a href="./careers.html" class="footer_nav-link">Nghề nghiệp</a>
                                </li>
                                <li class="footer_nav-item">
                                    <a href="./odc-service.html" class="footer_nav-link">Dịch vụ</a>
                                </li>
                                <li class="footer_nav-item">
                                    <a href="./resources.html" class="footer_nav-link">Tài nguyên</a>
                                </li>
                                <li class="footer_nav-item">
                                    <a href="./contact.html" class="footer_nav-link">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col c-12 m-12 l-4">
                        <div class="footer_contact">
                            <h6 class="footer_title">Liên hệ</h6>
                            <ul class="footer_contact-list">
                                <li class="footer_contact-item">
                                    <img src="../libs/img/vn.svg" alt="" class="footer_contact-img">
                                    <p class="footer_contact-desc">Số 777, đường Quang Trung, phố Nguyễn Huệ, tp.Bắc Bình Vương.</p>
                                </li>
                                <li class="footer_contact-item">
                                    <img src="../libs/img/us.svg" alt="" class="footer_contact-img">
                                    <p class="footer_contact-desc">Số 999, đường Nhựa, phố Trong Phố, tp.Mỹ Tho.</p>
                                </li>
                                <li class="footer_contact-item">
                                    <img src="../libs/img/email.svg" alt="" class="footer_contact-img">
                                    <a href="#" class="footer_contact-link">aconggomai@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col c-12 m-12 l-0">
                        <ul class="footer__info-network mobile">
                            <li class="footer__info-network-item">
                                <a href="#" class="footer__info-network-link">
                                    <img src="../libs/img/facebook.svg" alt="" class="footer__info-network-img">
                                </a>
                            </li>
                            <li class="footer__info-network-item">
                                <a href="#" class="footer__info-network-link">
                                    <img src="../libs/img/linked-in.svg" alt="" class="footer__info-network-img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="footer_copyright">
                    Trang web xây dựng bởi @m1med.
                </p>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script src="../js/main.js"></script>
</html>