<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="../libs/img/company-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="root">
        <div class="header">
            <div class="header_content grid wide">
                <a href="../../index.html" class="header_content-logo">
                    <img src="../libs/img/logo.svg" alt="" class="header_content-logo-img">
                </a>
                <ul class="header_nav">
                    <li class="header_nav-item has--son">
                        <span class="header_nav-link flex">
                            Services
                            <img src="../libs/img/icon-down.svg" alt="" class="header_nav-link-img">
                        </span>
                        <ul class="header_nav-son">
                            <li class="header_nav-son-item">
                                <a href="./odc-service.html" class="header_nav-son-link">
                                    <div class="header_nav-son-left">
                                        <img src="../libs/img/icon-off.svg" alt="" class="header_nav-son-info-img">
                                    </div>
                                    <div class="header_nav-son-right">
                                        <h5 class="header_nav-son-title">Offshore Development</h5>
                                        <p class="header_nav-son-desc">
                                            Go beyond your in-house team and get access to our vast software engineering talent pool.
                                        </p>
                                        <div class="btn-link">
                                            <span>Learn More</span>
                                            <img src="../libs/img/icon-arrow.svg" alt="" class="btn-link-img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="header_nav-son-item">
                                <a href="./dev-service.html" class="header_nav-son-link">
                                    <div class="header_nav-son-left">
                                        <img src="../libs/img/icon-dev.svg" alt="" class="header_nav-son-info-img">
                                    </div>
                                    <div class="header_nav-son-right">
                                        <h5 class="header_nav-son-title">DevOps Service</h5>
                                        <p class="header_nav-son-desc">
                                            Automate your workflows to deliver more value. Focus on the Dev and leave the Ops to us.
                                        </p>
                                        <div class="btn-link">
                                            <span>Learn More</span>
                                            <img src="../libs/img/icon-arrow.svg" alt="" class="btn-link-img">
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="header_nav-item">
                        <a href="./cases.html" class="header_nav-link">Cases</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="./resources.html" class="header_nav-link">Resources</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="./careers.html" class="header_nav-link">Careers</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="./contact.html" class="header_nav-btn btn btn--upper">Contact us</a>
                    </li>
                </ul>
                <div class="header_navmb">
                    <input type="checkbox" name="" id="header_navmb" hidden>
                    <label id="header_navmb-control" for="header_navmb" class="header_navmb-control">
                        <div class="header_navmb-control-item"></div>
                        <div class="header_navmb-control-item"></div>
                        <div class="header_navmb-control-item"></div>
                    </label>
                    <div class="header_navmb-content">
                        <ul class="header_navmb-list">
                            <li class="header_navmb-item has--son">
                                <input type="checkbox" id="navmb_son" hidden>
                                <label for="navmb_son" class="header_navmb-link flex">
                                    Services
                                    <img src="../libs/img/icon-down.svg" alt="" class="header_navmb-link-img">
                                </label>
                                <ul class="header_navmb-son">
                                    <li class="header_navmb-son-item">
                                        <a href="./odc-service.html" class="header_navmb-son-link">
                                            <img src="../libs/img/icon-off.svg" alt="" class="header_navmb-son-info-img">
                                            <h5 class="header_navmb-son-title">Offshore Development</h5>
                                            <div class="btn-link">
                                                <img src="../libs/img/icon-arrow.svg" alt="" class="btn-link-img">
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header_navmb-son-item">
                                        <a href="./dev-service.html" class="header_navmb-son-link">
                                            <img src="../libs/img/icon-dev.svg" alt="" class="header_navmb-son-info-img">
                                            <h5 class="header_navmb-son-title">DevOps Service</h5>
                                            <div class="btn-link">
                                                <img src="../libs/img/icon-arrow.svg" alt="" class="btn-link-img">
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header_navmb-item">
                                <a href="./cases.html" class="header_navmb-link">Cases</a>
                            </li>
                            <li class="header_navmb-item">
                                <a href="./resources.html" class="header_navmb-link">Resources</a>
                            </li>
                            <li class="header_navmb-item">
                                <a href="./careers.html" class="header_navmb-link">Careers</a>
                            </li>
                            <li class="header_navmb-item">
                                <a href="./contact.html" class="header_navmb-btn btn">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="root_body">
            <div class="cases">
                <section class="cases-grid grid wide">
                    <div class="cases_header">
                        <h1 class="cases_header-title">From Our Experts</h1>
                    </div>
                    <div class="cases-row row">
                        <div class="cases-col col c-12 m-6 l-6">
                            <a href="#" class="root-item">
                                <div class="root-item-media">
                                    <img src="../libs/img/artwallst.webp" alt="" class="root-item-media-img">
                                </div>
                                <div class="root-item-content">
                                    <h3 class="root-item-title">ArtWallSt</h3>
                                    <p class="root-item-desc text-dots">
                                        With a dedicated team, FABA Technology has supported 
                                        ArtWallStreet leverage from a small digital art mall into a full-fledged platform, 
                                        where anyone can become art collector, exhibitor, and investor.
                                    </p>
                                </div>
                                <div class="root-item-ac">
                                    <img src="../libs/img/icon-arrow.svg" alt="" class="root-item-ac-img">
                                </div>
                            </a>
                        </div>
                        <div class="cases-col col c-12 m-6 l-6">
                            <a href="#" class="root-item">
                                <div class="root-item-media">
                                    <img src="../libs/img/artwallst.webp" alt="" class="root-item-media-img">
                                </div>
                                <div class="root-item-content">
                                    <h3 class="root-item-title">ArtWallSt</h3>
                                    <p class="root-item-desc text-dots">
                                        With a dedicated team, FABA Technology has supported 
                                        ArtWallStreet leverage from a small digital art mall into a full-fledged platform, 
                                        where anyone can become art collector, exhibitor, and investor.
                                    </p>
                                </div>
                                <div class="root-item-ac">
                                    <img src="../libs/img/icon-arrow.svg" alt="" class="root-item-ac-img">
                                </div>
                            </a>
                        </div>
                        <div class="cases-col col c-12 m-6 l-6">
                            <a href="#" class="root-item">
                                <div class="root-item-media">
                                    <img src="../libs/img/artwallst.webp" alt="" class="root-item-media-img">
                                </div>
                                <div class="root-item-content">
                                    <h3 class="root-item-title">ArtWallSt</h3>
                                    <p class="root-item-desc text-dots">
                                        With a dedicated team, FABA Technology has supported 
                                        ArtWallStreet leverage from a small digital art mall into a full-fledged platform, 
                                        where anyone can become art collector, exhibitor, and investor.
                                    </p>
                                </div>
                                <div class="root-item-ac">
                                    <img src="../libs/img/icon-arrow.svg" alt="" class="root-item-ac-img">
                                </div>
                            </a>
                        </div>
                        <div class="cases-col col c-12 m-6 l-6">
                            <a href="#" class="root-item">
                                <div class="root-item-media">
                                    <img src="../libs/img/artwallst.webp" alt="" class="root-item-media-img">
                                </div>
                                <div class="root-item-content">
                                    <h3 class="root-item-title">ArtWallSt</h3>
                                    <p class="root-item-desc text-dots">
                                        With a dedicated team, FABA Technology has supported 
                                        ArtWallStreet leverage from a small digital art mall into a full-fledged platform, 
                                        where anyone can become art collector, exhibitor, and investor.
                                    </p>
                                </div>
                                <div class="root-item-ac">
                                    <img src="../libs/img/icon-arrow.svg" alt="" class="root-item-ac-img">
                                </div>
                            </a>
                        </div>
                        <div class="cases-col col c-12 m-6 l-6">
                            <a href="#" class="root-item">
                                <div class="root-item-media">
                                    <img src="../libs/img/artwallst.webp" alt="" class="root-item-media-img">
                                </div>
                                <div class="root-item-content">
                                    <h3 class="root-item-title">ArtWallSt</h3>
                                    <p class="root-item-desc text-dots">
                                        With a dedicated team, FABA Technology has supported 
                                        ArtWallStreet leverage from a small digital art mall into a full-fledged platform, 
                                        where anyone can become art collector, exhibitor, and investor.
                                    </p>
                                </div>
                                <div class="root-item-ac">
                                    <img src="../libs/img/icon-arrow.svg" alt="" class="root-item-ac-img">
                                </div>
                            </a>
                        </div>
                        <div class="cases-col col c-12 m-6 l-6">
                            <a href="#" class="root-item">
                                <div class="root-item-media">
                                    <img src="../libs/img/artwallst.webp" alt="" class="root-item-media-img">
                                </div>
                                <div class="root-item-content">
                                    <h3 class="root-item-title">ArtWallSt</h3>
                                    <p class="root-item-desc text-dots">
                                        With a dedicated team, FABA Technology has supported 
                                        ArtWallStreet leverage from a small digital art mall into a full-fledged platform, 
                                        where anyone can become art collector, exhibitor, and investor.
                                    </p>
                                </div>
                                <div class="root-item-ac">
                                    <img src="../libs/img/icon-arrow.svg" alt="" class="root-item-ac-img">
                                </div>
                            </a>
                        </div>
                        <div class="cases-col col c-12 m-6 l-6">
                            <a href="#" class="root-item">
                                <div class="root-item-media">
                                    <img src="../libs/img/artwallst.webp" alt="" class="root-item-media-img">
                                </div>
                                <div class="root-item-content">
                                    <h3 class="root-item-title">ArtWallSt</h3>
                                    <p class="root-item-desc text-dots">
                                        With a dedicated team, FABA Technology has supported 
                                        ArtWallStreet leverage from a small digital art mall into a full-fledged platform, 
                                        where anyone can become art collector, exhibitor, and investor.
                                    </p>
                                </div>
                                <div class="root-item-ac">
                                    <img src="../libs/img/icon-arrow.svg" alt="" class="root-item-ac-img">
                                </div>
                            </a>
                        </div>
                        <div class="cases-col col c-12 m-6 l-6">
                            <a href="#" class="root-item">
                                <div class="root-item-media">
                                    <img src="../libs/img/artwallst.webp" alt="" class="root-item-media-img">
                                </div>
                                <div class="root-item-content">
                                    <h3 class="root-item-title">ArtWallSt</h3>
                                    <p class="root-item-desc text-dots">
                                        With a dedicated team, FABA Technology has supported 
                                        ArtWallStreet leverage from a small digital art mall into a full-fledged platform, 
                                        where anyone can become art collector, exhibitor, and investor.
                                    </p>
                                </div>
                                <div class="root-item-ac">
                                    <img src="../libs/img/icon-arrow.svg" alt="" class="root-item-ac-img">
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <section class="root_contact">
                    <div class="root_contact-grid grid wide">
                        <div class="root_contact-content">
                            <h2 class="root_contact-title">Kick-start Your Project Today!</h2>
                            <p class="root_contact-desc">Contact us now and get the consultation you need to succeed.</p>
                            <div class="root_contact-ac">
                                <button class="btn root_contact-ac-btn btn--whi btn--upper">message us</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="footer">
            <div class="footer-grid grid wide">
                <div class="footer-row row">
                    <div class="footer-col col c-12 m-12 l-4">
                        <div class="footer__info">
                            <div class="footer__info-logo">
                                <a href="../../index.html" class="footer__info-logo-link">
                                    <img src="../libs/img/logo.svg" alt="" class="footer__info-logo-img">
                                </a>
                            </div>
                            <p class="footer__info-desc">Collaborative, secure and transparent offshore software development.</p>
                            <ul class="footer__info-network">
                                <li class="footer__info-network-item">
                                    <a href="#" class="footer__info-network-link">
                                        <img src="../libs/img/facebook.svg" alt="" class="footer__info-network-img">
                                    </a>
                                </li>
                                <li class="footer__info-network-item">
                                    <a href="#" class="footer__info-network-link">
                                        <img src="../libs/img/linked-in.svg" alt="" class="footer__info-network-img">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col c-12 m-12 l-4">
                        <div class="footer_nav">
                            <h6 class="footer_title">Company</h6>
                            <ul class="footer_nav-list">
                                <li class="footer_nav-item">
                                    <a href="./careers.html" class="footer_nav-link">Careers</a>
                                </li>
                                <li class="footer_nav-item">
                                    <a href="./odc-service.html" class="footer_nav-link">Services</a>
                                </li>
                                <li class="footer_nav-item">
                                    <a href="./resources.html" class="footer_nav-link">Resources</a>
                                </li>
                                <li class="footer_nav-item">
                                    <a href="./contact.html" class="footer_nav-link">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col c-12 m-12 l-4">
                        <div class="footer_contact">
                            <h6 class="footer_title">Contact Us</h6>
                            <ul class="footer_contact-list">
                                <li class="footer_contact-item">
                                    <img src="../libs/img/vn.svg" alt="" class="footer_contact-img">
                                    <p class="footer_contact-desc">186 Dang Van Ngu, Ward 14, Phu Nhuan District, HCMC.</p>
                                </li>
                                <li class="footer_contact-item">
                                    <img src="../libs/img/us.svg" alt="" class="footer_contact-img">
                                    <p class="footer_contact-desc">11018 Warath Oak CT, Houston, TX 77065.</p>
                                </li>
                                <li class="footer_contact-item">
                                    <img src="../libs/img/email.svg" alt="" class="footer_contact-img">
                                    <a href="#" class="footer_contact-link">contact@fabatechnology.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col c-12 m-12 l-0">
                        <ul class="footer__info-network mobile">
                            <li class="footer__info-network-item">
                                <a href="#" class="footer__info-network-link">
                                    <img src="../libs/img/facebook.svg" alt="" class="footer__info-network-img">
                                </a>
                            </li>
                            <li class="footer__info-network-item">
                                <a href="#" class="footer__info-network-link">
                                    <img src="../libs/img/linked-in.svg" alt="" class="footer__info-network-img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="footer_copyright">
                    Copyright © 2022 Faba Technology. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</body>
<script src="../js/main.js"></script>
</html>