:root {
    --primary: #202b50;
    --opa: #81879A;
    --bgr-opa: #f6f6f6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 1.6;
}

body {
    font-size: 1.6rem;
}

a {
    color: var(--primary);
    text-decoration: none;
}

button, input, textarea {
    outline: none;
    border: none;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

li {
    list-style: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* @keyframes activeUp {
    from {
        transform: translateY(20%);
    }
    to {
        transform: translateY(0);
    }
} */

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    background: var(--primary);
    height: 48px;
    padding: 0 24px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: all 0.5s;
}

.btn.btn--whi {
    background: #fff;
    box-shadow: unset;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn:hover {
    color: var(--primary);
    background: #fff;
    border: 1px solid var(--primary);
}

.btn.btn--whi:hover {
    color: #fff;
    background: #101730;
    border: 1px solid #fff;
}

.btn.btn--upper {
    text-transform: uppercase;
}

.btn-link {
    max-width: 112px;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 30px;
}

.btn-link-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
}

.btn-link:hover .btn-link-img {
    right: -10px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex.flex--center {
    justify-content: center;
}

.text-dots {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


@keyframes scrollUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll--up.six {
    animation: scrollUp 0.6s ease-in;
}

.scroll--up.sev {
    animation: scrollUp 0.7s ease-in;
}

.scroll--up.eig {
    animation: scrollUp 0.8s ease-in;
}

.card {
    display: block;
    border-radius: 8px;
    border: 2px solid rgb(241, 243, 246);
    background-image: linear-gradient(rgb(241, 243, 246) 2%, rgb(255, 255, 255));
    padding: 10px 12px;
    position: relative;
    height: 100%;
    animation: scrollUp 0.8s ease-in;
}


.card:hover {
    box-shadow: rgb(32 43 80 / 12%) 0px 20px 65px 0px;
}

.card::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 8px 8px 0 0;
    height: 5px;
    width: 0px;
    transition: all 0.3s;
}
.card.card--blue::before {
    background: linear-gradient(135deg, rgb(34, 209, 238), rgb(13, 160, 224));
}

.card.card--orange::before {
    background: linear-gradient(135deg, rgb(249, 140, 65), rgb(229, 46, 88));
}

.card.card--green::before {
    background: linear-gradient(135deg, rgb(15, 173, 193), rgb(73, 222, 130));
}

.card:hover::before {
    width: 100%;
}

.card-info-img {
    height: 32px;
    width: 32px;
}

.card-title {
    font-size: 2.2rem;
}

.card-desc {
    color: var(--opa);
    animation: scrollUp 0.8s ease-in;
}

.desc {
    position: relative;
}

.desc::after,
.desc::before {
    content: "";
    position: absolute;
    left: 0;
    height: 120px;
    width: 2px;
    background: linear-gradient(rgb(194, 199, 206) 2%, rgb(255, 255, 255));
}

.desc.desc--whi::after,
.desc.desc--whi::before {
    background: linear-gradient(to top, rgba(194, 199, 206, 0) 0%, rgb(194, 199, 206));
}

.desc::after {
    bottom: 100%;
}

.desc::before {
    top: 100%;
    transform: rotate(-180deg);
}

.desc-title {
    font-size: 4.8rem;
}

/* responsive  */
@media screen and (max-width: 63.938em) {
    .btn {
        height: 40px;
    }

    .desc::after,
    .desc::before {
        display: none;
    }

    .btn-link>span {
        display: none;
    }
}

@media screen and (max-width: 46.188em) {

}