.root {
    position: relative;
    background: #fff;
    min-height: 5000px;
    --header-height: 80px;
}

.header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0px;
    background: #fff;
    box-shadow: rgb(44 50 65 / 6%) 0px 10px 53px 0px;
    height: var(--header-height);
}

.header_content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_content-logo {
    padding: 4px 0;
    height: 45px ;
    width: 255px;
}

.header_content-logo-img {
    height: 100%;
    width: 100%;
}

.header_nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_nav-item {
    margin-left: 50px;
    position: relative;
}

.header_nav-item.has--son::before {
    content: "";
    position: absolute;
    top: calc(100%);
    left: 0;
    height: 50px;
    width: 100%;
    background: transparent;
}

.header_nav-link {
    color: var(--primary);
}

.header_nav-link:hover {
    border-bottom: 2px solid var(--primary);
}

.header_nav-item.has--son .header_nav-link:hover {
    border-bottom: none;
}

.header_nav-link-img {
    transition: transform 0.3s ease-in;
}

.header_nav-item:hover .header_nav-link-img {
    transform: rotate(180deg);
}

.header_nav-son {
    position: absolute;
    top: calc(100% + 40px);
    left: 0;
    padding: 15px;
    border-radius: 8px;
    background: #fff;
    box-shadow: rgb(37 43 52 / 12%) 0px 15px 30px 0px;
    display: none;
}

.header_nav-item.has--son:hover .header_nav-son {
    display: block;
    animation: fadeIn 0.3s ease-in;
}

.header_nav-son-item {
    width: 420px;
    padding: 15px;
    border-radius: 8px;
}

.header_nav-son-item:hover {
    background: var(--bgr-opa);
    transition: all 0.3s;
}

.header_nav-son-link {
    display: flex;
}

.header_nav-son-left {
    height: 40px;
    width: 40px;
    flex-shrink: 0;
}

.header_nav-son-info-img {
    height: 100%;
    width: 100%;
}

.header_nav-son-right {
    margin-left: 15px;
}

.header_nav-son-desc {
    color: var(--opa);
}

.footer {
    padding-top: 65px;
    margin-bottom: 30px;
}

.footer-row {
    border-bottom: 1px solid #ededed;
    margin-bottom: 20px;
}

.footer__info-logo {
    height: 40px;
    max-width: 254px;
}

.footer__info-logo-img {
    height: 100%;
    width: 100%;
}

.footer__info-desc {
    color: var(--opa);
    margin: 24px 0;
}

.footer__info-network {
    display: flex;
}

.footer__info-network-item {
    margin-right: 20px;
}

.footer__info-network-link {
    display: flex;
    align-items: center;
}

.footer__info-network-img {
    height: 24px;
    width: 24px;
}

.footer_title {
    margin-bottom: 20px;
}

.footer_nav-item {
    margin-bottom: 16px;
}

.footer_nav-link {
    color: var(--opa);
}

.footer_contact-item {
    display: flex;
    margin-bottom: 20px;
}

.footer_contact-img {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    margin-right: 20px;
}

.footer_contact-desc {
    flex: 1;
}

.header_navmb {
    display: none;
}

.header_navmb-control {
    width: 25px;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header_navmb-control-item {
    height: 2px;
    width: 100%;
    background: #202b50;
    position: relative;
    transition: all 0.3s;
}

.header_navmb-control.opa .header_navmb-control-item:first-child {
    transform: rotate(45deg);
    top: 8.5px;
}

.header_navmb-control.opa .header_navmb-control-item:nth-child(2) {
    opacity: 0;
}

.header_navmb-control.opa .header_navmb-control-item:last-child {
    transform: rotate(-45deg);
    bottom: 8.5px;
}

.header_navmb-content {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
    height: 0px;
    background: #fff;
    overflow: hidden;
    transition: all 0.5s ease-in;
}

#header_navmb:checked~.header_navmb-content {
    height: 100%;
}

.header_navmb-list {
    margin: 20px;
}

.header_navmb-item {
    padding: 16px;
    display: flex;
    justify-content: center;
}

.header_navmb-item.has--son {
    flex-direction: column;
    align-items: center;
}

.header_navmb-link {
    color: var(--primary);
    font-weight: 600;
}

.header_navmb-son {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s;
}

#navmb_son:checked~.header_navmb-son {
    height: 112px;
}

.header_navmb-son-item {
    width: 100%;
    padding: 16px;
}

.header_navmb-son-link {
    display: flex;
    justify-content: center;
}

.header_navmb-son-info-img {
    margin-right: 5px;
}

.header_navmb-son-title {
    font-size: 1.4rem;
    font-weight: 400;
}

/* responsive  */
@media screen and (max-width: 63.938em) {
    .header_nav {
        display: none;
    }

    .header_navmb {
        display: block;
    }

    .header_content-logo {
        height: 27px;
        width: 165px;
        padding: 0;
    }

    .footer__info-network {
        display: none;
    }

    .footer__info-network.mobile {
        display: flex;
    }

    .footer_nav-list {
        display: flex;
        flex-wrap: wrap;
    }

    .footer_nav-item {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 46.188em) {
    .header {
        --header-height: 66px;
        padding: 0 15px;
    }

    .footer {
        padding: 0 15px;
    }
}